@import '../styles/variables.scss';

.cart {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-gap: 2rem;

  @include respond(desktop) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
