.header {
        
}

.logo {

    margin: 1rem 0;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-weight: bold;
}

.link {
    font-family: 'Goldman', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(53, 52, 52);
    
}
