@import '../styles/variables.scss';

.intro {
    min-height: 30vh;

    background-image:  linear-gradient(rgba(26, 26, 26, 0.3), rgba(0, 0, 0, 0.8)),url('../public/images/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &__content {
        padding: 2rem;

    }

    &__title {
        color: $text-light;
    }

    &__btn {
        @include primary-btn;
    }
    
}