@import '../styles/variables.scss';
.search {
    position: relative;
}

.input {
    padding: .5rem;
    outline: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.wrapper {
    display: flex;
    height: 2rem;  
    justify-content: space-between;
    border-bottom: 1px solid #383838;
      

}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}