@import '../styles/variables.scss';
.search {
  position: relative;
}

.input {
  padding: 0.5rem;
  outline: 0;
  border: 0;
  width: 100%;
  background-color: transparent;
}

.wrapper {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid $dark-color;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
